name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  build-in-nix-devshell:
    name: Build in Nix devShell
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        package:
          - with-nixpkgs
          - with-opam-nix

    steps:
      - name: Check out repository code.
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: |
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          nix develop .#${{ matrix.package }} --command true

      - name: Build
        id: build
        run: |
          nix develop .#${{ matrix.package }} --command make

      - name: Run tests
        if: ${{ steps.build.outcome == 'success' }}
        run: |
          nix develop .#${{ matrix.package }} --command make tests

      - name: Build documentation
        ## Try building the documentation regardless of whether running the
        ## tests failed. This gives more information out of a CI run.
        if: ${{ steps.build.outcome == 'success' }}
        run: |
          nix develop .#${{ matrix.package }} --command make doc

  build-with-nix:
    name: Build with Nix
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        package:
          - with-nixpkgs
          - with-opam-nix

    steps:
      - name: Check out repository code.
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: |
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: |
          nix build .#${{ matrix.package }} --print-build-logs

  run-flake-checks:
    name: Run flake checks
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code.
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: |
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Run flake checks
        run: |
          nix flake check --print-build-logs
